<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
{{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/upd.png" alt="Awais" style="width: 500px ; height: 500px;"/>
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather APP</p>
                        <h1>I am a  <span> Mern Stack Developer </span> and i live in Capital.</h1>
                        <a href="https://www.linkedin.com/in/muhammad-awais-9b5277228/" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>footer}}
</body>
</html>

