<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
{{>navbar}}
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden" style="height: 100%">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5" >
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%) ; font-size:42px ; margin-top:50px">
          My 
          <span style="color: hsl(218, 81%, 75%)">&nbsp;Weather APP</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%) ; font-size:22px ;">
          Weather apps are the most popular way to instantly access forecasts, 
          warnings and other useful weather information on our mobile phones. 
          They provide the public with unprecedented flexibility: 
          users choose the information they want, how they get it and how it looks.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass" style="margin-top:100px">
          <div class="card-body px-4 py-5 px-md-5">
            <form action="/signup" method="post">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row" style="font-size:18px ;">
                <div class="col-md-6 mb-4" >
                  <div class="form-outline">
                    <input type="text" id="form3Example1" value="" name="firstname" style="font-size:18px ;" class="form-control" />
                    <label class="form-label" for="form3Example1" value=""  style="font-size:18px ;" name="firstname">&nbsp;First name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" value="" style="font-size:18px ;" name="lastname" class="form-control" />
                    <label class="form-label" for="form3Example2" style="font-size:18px ;" value="" name="lastname">Last name</label>
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4" style="font-size:18px ;">
                <input type="email" id="form3Example3" value="" style="font-size:18px ;" name="email" class="form-control" />
                <label class="form-label" for="form3Example3" style="font-size:18px ;" value="" name="email" >&nbsp;&nbsp;&nbsp;Email address</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4" style="font-size:18px ;">
                <input type="password" id="form3Example4" value="" style="font-size:18px ;" name="password" class="form-control" />
                <label class="form-label" for="form3Example4" style="font-size:18px ;" value="" name="password" >&nbsp;&nbsp;&nbsp;Password</label>
              </div>
                <div class="form-outline mb-4" style="font-size:18px ;">
                <input type="password" id="form3Example4" style="font-size:18px ;" value="" name="confirmpassword" class="form-control" />
                <label class="form-label" for="form3Example4" style="font-size:18px ;" value="" name="confirmpassword" >&nbsp;&nbsp;&nbsp;Confirm Password</label>
              </div>

 

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" value="register" style="font-size:18px ;" />
                Sign up
              </button>

              <!-- Register buttons -->
              <div class="text-center" style="font-size:18px ;">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f" style="font-size:18px ;"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google" style="font-size:18px ;"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter" style="font-size:18px ;"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github" style="font-size:18px ;"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
{{>footer}}